@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'NanumSquare';
    src: url(/public/font/NanumSquareL.woff2) format('woff2');
    font-weight: 300;
  }

  @font-face {
    font-family: 'NanumSquare';
    src: url(/public/font/NanumSquareR.woff2) format('woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'NanumSquare';
    src: url(/public/font/NanumSquareB.woff2) format('woff2');
    font-weight: 700;
  }

  @font-face {
    font-family: 'NanumSquare';
    src: url(/public/font/NanumSquareEB.woff2) format('woff2');
    font-weight: 800;
  }
}

body {
  margin: 0;
  font-family: 'NanumSquare', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1024px) {
  html {
    height: auto;
    min-height: calc(100%-113px);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}